<launch>

<rosparam file="$(find uarm_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="uarm" args="Rev4_position_controller Rev6_position_controller Rev7_position_controller Rev9_position_controller Rev12_position_controller Rev13_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/uarm/joint_states"/>
</node>

</launch>